# Ruby/DB
/db/*.sqlite3
/.bundle
.byebug_history
/config/master.key

# Node
**/node_modules
/public/packs
/public/packs-test

# Tests & Coverage
/spec
/coverage

# Docs & misc
/docs
docuseal_logs.txt
sha256*

# Git & CI
/.git
/.github

# Logs & temp
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep

# Editor cruft
.DS_Store
.env
